@using SM_MentalHealthApp.Client.Components

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        @if (IsLoginPage(routeData.PageType) || IsChangePasswordPage(routeData.PageType))
        {
            <RouteView RouteData="@routeData" />
        }
        else
        {
            <AuthenticationStateProvider>
                <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
                <FocusOnNavigate RouteData="@routeData" Selector="h1" />
            </AuthenticationStateProvider>
        }
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

@code {
    private bool IsLoginPage(Type pageType)
    {
        return pageType?.Name == "Login";
    }
    
    private bool IsChangePasswordPage(Type pageType)
    {
        return pageType?.Name == "ChangePassword";
    }
}
